body {
	background-color: #183640;
	text-align: center;
}

h1 {
	color: #CEDDDD;
	font-family: Verdana;
}

h2 {
	color: #CEDDDD;
	font-family: Verdana;
}

.blogpost {
	color: #CEDDDD;
	font-family: Verdana;
}
.posttitle {
	text-decoration: underline;
}

article {
	margin: 0 auto;
	width: 85%;
	border: 3px solid black;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.5);

}